html {
    scroll-behavior: smooth;
}

/* latin */
@font-face {
    font-family: 'Courier New';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/cour.ttf') format('woff');
}
/* latin */
@font-face {
    font-family: 'Courier New';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/couri.ttf') format('woff');
}
/* latin */
@font-face {
    font-family: 'Courier New';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/courbd.ttf') format('woff');
}
/* latin */
@font-face {
    font-family: 'Courier New';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/courbi.ttf') format('woff');
}


body{
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-family: 'Courier New', sans-serif;
    padding-top: 80px;
}
a{color: #000;}
a:hover{color: #000;}
.all-t{-moz-transition: all 0.3s ease;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;}
.container{
    /* width: 1380px; */
    width: 1640px;
    max-width: 1640px;
}
.container-full{
    width: 100%;
}
.container-wide {
    width: 1640px;
}
.container-full,
.container-wide{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 18px;
    font-weight: normal;
}
.h1,h1{font-size: 34px;}
.h2,h2{font-size: 28px;}
.h3,h3{font-size: 22px;}
.h4,h4{font-size: 18px;}
.h5,h5{font-size: 14px;}
.h6,h6{font-size: 12px;}

::selection {
    background-color: #FFF500;
}

.header-wrap.active{
    top: 0;
}
.header-wrap{
    position: fixed;
    height: 80px;
    font-size: 12px;
    font-weight: bold;
    z-index: 99;
    top: -81px;
    background-color: #fff;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    /* Saf3.2+, Chrome */
    -moz-transition: all 0.3s ease-out;
    /* FF4+ */
    -ms-transition: all 0.3s ease-out;
    /* IE10 */
    -o-transition: all 0.3s ease-out;
    /* Opera 10.5+ */
    transition: all 0.3s ease-out;
}
.header-line{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    top: 100%;
}
.header-wrap .navbar-brand{
    padding-bottom: 0;
}
.header-wrap .navbar{
    padding: 0rem 0rem;
    height: 80px;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.nav-item::after{
    content: "";
    position: absolute;
    right: 0; top: 0;
    width: 1px;
    height: 14px;
    background: #000;
}
.nav-item:last-child{
    padding-right: 0 !important;
}
.nav-item:last-child::after{
    display: none;
}
.header-wrap .nav-item.active .nav-link::after{
    display: none;
    content: "";
    position: absolute;
    left: 50%; bottom: 0;
    margin-left: -3px;
    z-index: -1;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 4px solid #000;
}
.header-wrap .nav-link{
    font-size: 15px !important;
}
.header-wrap .nav-item .nav-link{
    padding-bottom: 13px;
}

.nav-item:first-child{
    padding-left: 0;
}
.nav-item{
    position: relative;
    color: #000;
    padding-right: 14px;
    padding-left: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.nav-item .nav-link{
    display: block;
    position: relative;
    color: inherit !important;
    margin: 0;
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 0px !important;
    padding-bottom: 0;
    line-height: 14px;
}
.nav-item:hover .nav-link{
    color: inherit !important;
}
.nav-item .nav-link::before{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 0;
    height: 14px;
    background: #FFF500;
    z-index: -1;

    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0.25;
}
.nav-item.active .nav-link::before{
    width: 100%;
    opacity: 1;
}
.nav-item:hover .nav-link::before{
    width: 100%;
}
.nav-wrap{
    /* padding-top: 26px; */
    padding-top: 13px;
    padding-bottom: 15px;
}


.fixed-navwrap{
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 80px;
    background-color: #fff;

    -webkit-transition: all 0.3s ease-out;
    /* Saf3.2+, Chrome */
    -moz-transition: all 0.3s ease-out;
    /* FF4+ */
    -ms-transition: all 0.3s ease-out;
    /* IE10 */
    -o-transition: all 0.3s ease-out;
    /* Opera 10.5+ */
    transition: all 0.3s ease-out;
}
.fixed-navwrap.top{
    top: 0px;
}












.project-items{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -13px;
    margin-left: -13px;
    padding-bottom: 40px;
}
.p-item-wrap{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;

    padding-right: 13px;
    padding-left: 13px;
    margin-bottom: 26px;
}
.p-item{
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.p-item .thumb-wrap{
    background-color: #f8f8f8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.p-item .thumb-wrap img{
    width: 100%;
}
.p-item .info{
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
    padding: 60px;
    text-align: center;
    -moz-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.p-item .code{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.p-item .title{
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    margin-bottom: 15px;
}
.p-item:hover .info{
    opacity: 1;
}
.p-item:hover .thumb-wrap{
    transform: scale(1.02);
}




.loader{
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
}
.spinner{
    width: 46px;
}
.spinner.spinner-balanced {
    stroke: #FFF500;
    fill: #FFF500;
}

.spinner {
    stroke: #444;
    fill: #444;
}


.project-head{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
}
.project-head .overlay{
    opacity: 0.87;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
.head-detail{
    width: 100%;
    position: relative;
    padding-bottom: 75px;
    line-height: 22px;
}

.head-detail .code{
    font-size: 20px;
    margin-bottom: 18px;
}
.head-detail .title{
    font-size: 28px;
    margin-bottom: 24px;
}
.head-detail .detail td:first-child{
    padding-right: 15px;
}
.head-detail .cat{
    font-size: 16px;
    margin-bottom: 18px;
}


.content{
    padding-top: 125px;
    padding-bottom: 55px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.4px
}
.content .tidp30 p{
    text-indent: 30px; 
}
.content img{
    max-width: 100%;
}
.content .section-title{
    font-weight: normal;
    display: inline-block;
    position: relative;
    line-height: 24px;
    margin-bottom: 30px;
    font-size: 24px;
}

.content .section-title.effect::after{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #FFF500;
    left: 0;
    z-index: -1;
    

    -webkit-animation: wTo100 1s;
    -moz-animation: wTo100 1s;
    -o-animation: wTo100 1s;
    animation: wTo100 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}
@keyframes wTo100 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.content section{
    padding-bottom: 40px;
}

.swiper-container img{
    max-width: 100%;
    width: 100%;
    border: 1px solid #CCCCCC;
}

/* btn */
.btn{
    border-radius: 0px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 5px;
}
.btn-outline-dark{
    border: 1px solid #000;
    color: #000;
}
.btn-dark{
    background-color: #000;
    border-color: #000;
}

.btn-np{
    color: #000;
    text-decoration: none !important;
    padding: 0 !important;
}

.btn-np:hover{
    /* color: #000; */
    background-color: #FFF500;
    color: #000;
}
.btn-np:hover svg{
    /* fill: #FFF500; */
}

.btn-dark svg{
    fill: #fff;
}

.form-control{
    border-radius: 0px;
    border: 1px solid #000;
    color: #000;
    font-size: 12px;
    padding: 10px 15px !important;
    height: 40px;
}
.form-group{
    margin-bottom: 24px;
}

.pn-btn{
    margin-top: 30px;
}

.bs-m8{
    margin-left: -8px;
    margin-right: -8px;
}
.bs-p8{
    padding-left: 8px;
    padding-right: 8px;
}

.product-menu{
    width: auto;
}

.lang{
    margin-left: 20px;
}
.lang .nav-link{
    padding: 3px 6px !important;
    margin-bottom: 10px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 10px !important;
    text-decoration: underline;
}
.lang .nav-link::before{
    content: "";
    position: absolute;
    left: 0; top: 4px;
    width: 0;
    height: 12px;
    background: #FFF500;
    z-index: -1;

    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0.25;
}

.lang .nav-item{
    padding-right: 2px;
    padding-left: 2px;
}
.lang .nav-item::after{
    display: none;
}

.user{
    text-align: center;
    margin-top: 60px;
    padding: 0 60px;
}
.user img{
    margin-bottom: 27px;
}

.fs-18{
    font-size: 18px;
}
.fs-12{
    font-size: 12px;
}

.no-style{
    list-style: none;
    padding: 0; 
}

/* .lg-outer .lg-thumb-outer{
    background-color: #0D0A0A;
}
.lg-sub-html, .lg-toolbar{
    background-color: rgba(0,0,0,.45);
} */

.clink{
    background-color: #FFF500;
}
.cwblack{
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
}
.lg-backdrop{
    opacity: 0.8 !important;
}

.lg-actions .lg-next, 
.lg-actions .lg-prev{
    background-color: rgba(0,0,0,0);
}
.lg-outer .lg-thumb-outer{
    display: flex;
    justify-content: center;
    align-items: center
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover{
    border-color: #FFF500;
}

.column2{
    -webkit-column-count: 2; 
    -webkit-column-gap: 60px;

    -moz-column-count: 2;
    -moz-column-gap: 60px;

    column-count: 2;
    column-gap: 60px;
}

.navbar-light .navbar-toggler{
    border-color: transparent;
    outline: none;
}






.footer-wrap{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #000;
    font-size: 12px;
    line-height: 24px;
    height: 34px;
    color: #fff;
    background-color: #000;
}
.footer-wrap p{
    margin-bottom: 0;
}
.footer-wrap .ffd-btn{
    color: inherit;
    display: inline-block;
    position: relative;
    /* border: 1px solid #fff; */
    /* outline:1px solid #fff; */
    line-height: 24px;
    -moz-transition: all 0.3s ease;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;
}
.footer-wrap .ffd-btn div{
    display: inline-block;
}
.footer-wrap .ffd-btn .bt{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: inherit;
    text-decoration: underline !important;
}
.footer-wrap .ffd-btn .darkside{
    padding-left: 6px;
    padding-right: 6px;
    /* background-color: #fff; */
    display: none;
}
.footer-wrap .ffd-btn .darkside svg{
    fill: #000
}
.footer-wrap .ffd-btn:hover{
    background-color: #000;
    color: #FFF500;
}
.footer-wrap .solink{
    display: inline-block;
    position: relative;
    line-height: 24px !important;
    width: 24px;
    height: 24px;
    text-align: center;
    /* outline:1px solid #fff; */
    -moz-transition: all 0.3s ease;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;
}
.footer-wrap .solink svg{
    fill: #fff;
    -moz-transition: all 0.3s ease;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;
}
.footer-wrap .solink:hover{
    background-color: #000;
}
.footer-wrap .solink:hover svg{
    fill: #FFF500;
}
.fs-menu svg{
    fill: #000;
}
.fs-menu li:hover svg{
    /* fill: #FFF500; */
}
.cootable td{
    min-width: 130px;
    vertical-align: top;
}
.abf a{
    display: inline-block;
    text-align: center;
    min-width: 16px;
    -moz-transition: all 0.3s ease;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;
}
.abf a:hover{
    background-color: rgba(255,245,0,1);
}
/* @media (min-width: 576px){
    .container-wide {max-width: 540px;}
}
@media (min-width: 768px){
    .container-wide {max-width: 720px;}
}
@media (min-width: 992px){
    .container-wide {max-width: 960px;}
}
@media (min-width: 1200px){
    .container{max-width: 1400px;padding-right: 55px;padding-left: 55px;}
    .container-wide {max-width: 100%;padding-right: 0px;padding-left: 0px;}
}
@media (min-width: 1440px){
    .container{max-width: 1360px;padding-right: 0px;padding-left: 0px;}
    .container-wide {max-width: 1440px;}
}
@media (min-width: 1670px){
    .container{max-width: 1360px;padding-right: 0px;padding-left: 0px;}
    .container-wide {max-width: 1640px;}
} */
.collapse2:not(.show) {
    display: none;
}
.navbar2{
    z-index: 1;
    left: 0;
    top: 81px;
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    width: 110%;
    margin-left: -5%;
    height: 1900px;
    padding-top: 30px;
}
.navbar2 ul{
    width: 100%;
    display: block;
    padding: 0; margin: 0;
}
.navbar2 ul li{
    display: block;
    border: none;
    padding: 0; margin: 0;
    text-align: center;
    width: auto;
}
.navbar2 ul li:after{
    display: none;
}
.navbar2 .nav-link{
    font-size: 18px !important;
    margin-bottom: 15px;
}
.navbar2 ul li a{
    display: inline-block !important;
}

@media (max-width: 1670px){
    /* .container{max-width: 1360px;padding-right: 0px;padding-left: 0px;} */
    .container,
    .container-wide {max-width: 100%;}
}

@media (max-width: 1440px){
    .content{
        padding-top: 60px;
        padding-bottom: 120px;
    }
}
@media (max-width: 1190px){
    .column2{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .footer-wrap{
        height: auto;
    }
}
@media (max-width: 992px){
    .navbar-nav{
        flex-direction: row;
        display: inline-block;
        margin-right: 10px;
    }
    .navbar-nav li{
        display: inline-block;
    }
    .p-item-wrap{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 13px;
        padding-left: 13px;
        margin-bottom: 26px; 
    }
    .user{
        padding: 0;
    }
    .product-menu{
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .product-menu .nav-item{
        display: inline-block;
    }
    .column2{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 768px){
    .content section{
        padding-bottom: 30px;
    }
    .column2{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .content .section-title{
        font-size: 24px;
    }
}

@media (max-width: 576px){
    .container {max-width: 100%;}
    .p-item-wrap{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 13px;
        padding-left: 13px;
        margin-bottom: 26px; 
    }
    .p-item .info{
        padding: 15px;
    }
    .navbar-light .navbar-brand img{
        height: 40px;
    }
    
    .head-detail .title {
        font-size: 24px;
    }
    .cootable td{
        min-width: auto
    }
    .head-detail{
        line-height: 16px;
    }
}
@media (max-width: 374px){

    .head-detail{
        padding-bottom: 5px;
    }
    .head-detail .title {
        font-size: 18px;
        margin-bottom: 4px;
    }

}